html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: fit-content;
    box-sizing:border-box;
}

body {
    background-color:#0D0D0D;
    width: 100vw;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    background-color:white;
    width: 100vw;
    height: 100px;
    top: 0%;
    right: 0%;
    left: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#header-img {
    height: 3em;
}

nav {
    width: fit-content;
    height: 80px;
    float: right;
    padding: 10px;
}

ul {
    padding: 0%;
    margin: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
}
ul li {
    display: inline-flex;
    padding: 15px;
}

li a {
    text-decoration: none;
    font-family: 'Saira', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: black;
}

li a:hover {
    color: #FF9902;
}

section {
    width: 100vw;
    height: fit-content;
}

#sec1 {
    margin-top: 13em;
    margin-bottom:5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#info1 {
    /* background-color: aqua; */
    width: 50%;
    height: fit-content;
    text-align: center;
}

#info1 img {
    padding: 15px;
    width: 90%;
}

#info2 {
    /*background-color:brown;*/
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 5em;
    color: white;
    margin: 0%;
    padding: 0%;
}

#subtitle {
    font-family: 'Saira', sans-serif;
    font-size: 40px;
    color: white;
    padding: 0;
    margin: 0;
}

#costumer {
    font-family: 'Saira', sans-serif;
    font-size: 15px;
    color: #BABFBE;
    padding: 0;
    margin: 0;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0%;
    margin: 0%;
}

#email {
    width: 400px;
    height: 50px;
    border: 0px;
    background-color: transparent;
    border-bottom: 1px white solid;
    font-family:'Saira', sans-serif;
    font-size: 18px;
}

#submit {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 0px;
    font-family:'Saira', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
    background-color:#FF9902;
}

#submit:hover {
    background-color: #AC6701;
    cursor: pointer;
}

#sec2 {
    width: 100vw;
    height: fit-content;
    background-color:#FF9902;
    padding-top: 5em;
    padding-bottom:5em;
    display: flex;
    flex-direction: row;
    row-gap: 1.5em;
    align-items: center;
    justify-content: center;
}

.features {
    width: 25%;
    height:max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

.icon {
    /*background-color: bisque;*/
    height:12em;
    width: 12em;
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    gap: 3em;
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:center;
    border-radius: 100%;
}

.title {
    font-family:'Saira', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    margin: 1em 0 0 0;
}

.text {
    font-family:'Saira', sans-serif;
    font-size: 18px;
}

#sec3 {
    width: 100vw;
    padding-top: 5em;
    padding-bottom:5em;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    font-family:'Saira', sans-serif;
    font-size: 30px;
    color: white;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
}

iframe {
    width: 800px;
    height: 450px;
}

footer {
    background-color: white;
    width: 100vw;
    height: 150px;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer li {
    text-transform: uppercase;
}

#author {
    margin: 0%;
    padding: 0%;
    font-family: 'Saira', sans-serif;
    font-size: 15px;
    color: #AC6701;
    text-align: center;
}

#detail {
    margin: 0%;
    padding: 0%;
    font-family: 'Saira', sans-serif;
    font-size: 15px;
    color: #AC6701;
    text-align: center;
}

@media (max-width: 780px) {

    #sec1 {
        width: 100%;
        height: fit-content;
    }

    #info1 {
        width: 40%;
    }
    
    h1 {
        font-size: 2.5em;
    }
    
    #subtitle {
        font-size: 1.2em;
    }
    
    #costumer {
        font-size: 15px;
    }
    
    #email {
        width: 80%;
        height: 25px;
        font-size: 15px;
        margin-top: 10px;
    }
    
    #submit {
        width: 150px;
        height: 40px;
        font-size: 18px;
    }

    #sec2 {
        gap: 1em;
    }
    
    .icon {
        width: 7em;
        height: 7em;
    }
    
    .title {
        font-size: 15px;
    }
    
    .text {
        font-size: 13px;
    }

    #sec3 {
        height: 400px;
    }

    iframe {
        width: 500px;
        height: 281px;
    }
    
    h3 {
        font-size: 20px;
    }

}

@media (max-width: 600px) {
    #header {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em 0 0 0;
    }

    #header-img {
        height: 2em;
    }

    #nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: fit-content;
    }

    ul{
        height: fit-content;
        padding: 0;
        margin: 0;
    }

    li a {
        font-size: 1em;
    }

    #sec1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #info2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #info2 form {
        padding: 2em 0 0;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #sec2 {
        display: flex;
        flex-direction: column;
    }

    .features {
        width: 90%;
    }

    #sec3 {
        padding: 0;
    }

    iframe {
        width: 300px;
        height: 169px;
    }

    footer {
        height: fit-content;
        padding-top: 2em;
        padding-bottom: 2em;
    }

   #author, #detail {
        font-size: 10px;
        margin: 1em;
    }
}